<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    	http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
    	http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://aries.apache.org/schemas/blueprint-cm/blueprint-cm-1.1.0.xsd
    ">

    <!-- property values -->
    <cm:property-placeholder persistent-id="hacknight.badges" update-strategy="reload" placeholder-prefix="{{" placeholder-suffix="}}">
        <cm:default-properties>

        </cm:default-properties>
    </cm:property-placeholder>


    <!--  REGISTER AN MBEAN with a service reference


    <reference id="adminService" interface="org.apache.karaf.admin.AdminService" />

    <reference id="mbeanServer" interface="javax.management.MBeanServer">
        <reference-listener ref="mbeanRegister" bind-method="registerMBeanServer" unbind-method="unregisterMBeanServer" />
    </reference>

    <bean id="mbeanImpl" class="org.apache.karaf.admin.management.internal.AdminServiceMBeanImpl">
        <property name="adminService" ref="adminService" />
    </bean>

    <bean id="mbeanRegister" class="org.apache.karaf.management.MBeanRegistrer" init-method="init" destroy-method="destroy">
        <property name="mbeans">
            <map>
                <entry value="org.apache.karaf:type=admin,name=${karaf.name}"
                       key-ref="mbeanImpl" />
            </map>
        </property>
    </bean>

    -->

    <bean id="mbeanImpl" class="badges.mbean.impl.ProviderMBeanImpl"/>

    <bean id="mbeanRegister" class="badges.mbean.impl.MBeanRegister" init-method="init" destroy-method="destroy"/>
</blueprint>